*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    padding: 30px;
    
}
.container{
    position: absolute;
    border: 2px solid black;
    width: 300px;
    height: 300px;
 margin: 0 auto;
 overflow: hidden;
    
}   
.image_container{
    display: flex;
    border: 1px solid black;
    
    height: 300px;
   
   transition: all 0.5s;
   
    img{
        height: 300px;
        width: 300px;
        
    }

}
.image_container:hover{
    transform: translateX(-300px);
}

